body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to top, #fdcbf1 20%, #fdcbf1 1%, #e6dee9 100%);
    background-size: cover;
    background-attachment: fixed;
}

.all{
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 120px;
    padding-bottom: 50px;
}

.button{
    position:fixed;
    list-style: none;
    top:20px;
    margin-left:20px;
    background-color: rgb(210, 83, 210);
    border-radius:20px;
    padding: 10px;
    font-size: 16px;
    width:100px;
    cursor: pointer;
    text-decoration: none;
    z-index: 100;
}

.button a{
    font-family: 'Caveat';
    color:whitesmoke;
    text-decoration: none;
    display: block;
}

.button:hover{
    background-color: whitesmoke;
    transition: 0.3s;
}

.button a:hover{
    color: rgb(210, 83, 210);
    transition: 0.3s;
}

.services{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    padding-bottom: 40px;
}

.services h2{
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom:10px;
}

.services ul{
    padding: 0;
    margin: 0 auto;
}

.services li{
    list-style:none;
    font-family: 'Domine', serif;
    font-size: 40px;
    padding: 10px;
    text-align:center;
    align-items: center;
    align-self: flex-start;
}

.designs{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.designs h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color: rgb(147, 20, 147);
    margin-bottom:10px;
    background-color: #FADADD;
background-image: linear-gradient(147deg, #FADADD 0%, #fc6c85 74%);
    opacity: 0.6;
    border-radius: 6px;
    padding: 10px;
}
.designs img{
    
    width:450px;
    height:auto;
    border-radius: 8px;
}

.designs video{
    width:500px;
    height:500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.designs figcaption{
    font-family: 'Domine', serif;
    font-size: 20px;
    color: rgb(80, 0, 80);
    margin-top: 5px;
    margin:30px;
    background-color: #f368e0;
background-image: linear-gradient(315deg, #f368e0 0%, #d3d3d3 74%);
    opacity: 0.8;
    border-radius: 6px;
    padding: 10px;
    
}

footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    padding: 5px;
    font-family: 'Domine', serif;
    position: relative;
    bottom: 0;
    object-fit: cover;
    
}